#### Capstone Project
Arthur: Wilson Lau
Date: 2015 November

### Capstone Milestone Report

## Introduction
The problem I want to tackle in my capstone project is to detect investment opportunities for cash flow real estate property.  

## The Problem
Real estate investment is a passive income opportunity for investors to accumulate return without active management.  Huge long term appreciation is very much possible for real estate.  However, appreciation often happens in short period of time and the appreciation is heavily affected local market condition.  It is difficult for out-of-the-market investors to detect the trend and acquire properties before price goes up.  My capstone project is trying to help investors to detect real estate investment opportunities and be able to predict which zip code will experience long term appreciation in the near future. 

My project is divided into two stages:

# Stage One
- the first stage is to use anomaly detection technique to discover which zipcodes have success sprike of upward price appreciation. 
- The Anomaly detection is compared new monthly updated home price with historical price as well as comparing with the home price of the surrending areas based on neighborhoods, city, menpolian area, and state.

# Stage Two
- Based on the result of stage one, more data will be collected for the zipcodes that have sudden increase of home price.  
- Those new dataset will be used to figure out what feature contributes to the price appreciation and a predictive model will be created using those features. 

## Dateset
Dataset used is downloaded from Quandl's Zillow data.  This dataset is a monthly time series recording the change of home price. 

# What important fields and information does the data set have?
The important columns for this dataset is time(date end of the month), home price and zipcode. 



# What are its limitations i.e. what are some questions that you cannot answer with this data set?
This dataset actually have 22 columns.  For example, it has columns for different home size e.g. 1 bedroom, 2 bedroom, 3 bedroom, price per square foot, average listing price, etc...  Since it seems that most of these columns are highly corelate to home price, they may be very help for predicting home price. 

# What kind of cleaning and wrangling did you need to do?
Quandl's API is very powerful and very flexible.  At the same time, it is a bit complicated to pull the home price.  One way to pull home price is to pass zipcode as input parameter, and Quandl will return the historical price data with all the columns related to that zipcode.  So, to get the data, I will need to use a zipcode dataset that contains all the zipcode of the US and then use the Quandl API to pull data one zipcode at a time. 

# Are there other datasets you can find, use and combine with, to answer the questions that matter?
To order to group home price data by city, state, etc.., I will need to find other dataset that relates individual zipcodes with their city name and state name.  I will need to merge the dataset together in order to find out which zipcode belongs to which city or state. 

## Preliminary Findings and Hypothesis test.
.....

In [126]:
''' Problem: Try to find which zipcode and in which months has its price increase sigificantly higher than the mean price with
the same zipcode and also than the rest of the zipcode. '''

#load home price data into dataframe
import numpy as np
import pandas as pd
import pickle
from scipy import stats

#load home price data from Datafiles
df = pickle.load( open( ".\DataPfiles\93063_to_93524.p", "rb" ) ) 

###pivot All Homes prirce to row and grouped them by zipcode
df = df.reset_index()
dfAllHomes = df.pivot(index='index', columns='ZipCode', values='All Homes')

### calcaluate the home price's moving average for every 3 months, with minimal of 3 months
dfAllHomesMovingAve = pd.rolling_mean(dfAllHomes,window=3,min_periods=3)

### shift entire set of Moving Average number downward for one month
### This is needed to line up the previous month moving average with the current month moving average in the same row
dfAllHomesMovingAve = dfAllHomesMovingAve.shift(periods=1,freq=None,axis=0)

### since I shift the all rows for one month earlier, so I can just subtract the two dataframe and calculate the price change.
dfAllHomesDiffFromMovAve = dfAllHomes - dfAllHomesMovingAve
dfAllHomesStdDevInZipCode = dfAllHomesDiffFromMovAve.copy() #dataframe to hold z score within zipcode

##loop through each zipcode column
for x in dfAllHomesStdDevInZipCode.columns:
    if sum(dfAllHomesStdDevInZipCode[x].isnull()) > 0:  # if any month has null value, drop the entire zipcode
        dfAllHomesStdDevInZipCode.drop(x,axis=1)
    dfAllHomesStdDevInZipCode[x] = (dfAllHomesStdDevInZipCode[x] - dfAllHomesStdDevInZipCode[x].mean()) / dfAllHomesStdDevInZipCode[x].std()  #calculate z score for All Homes price each month

##Calculate z score comparing price across zipcode
dfAllHomesStdDevAcrossZipCode = dfAllHomesStdDevInZipCode.copy() #dataframe to hold z score across different zipcode
dfAllHomesStdDevAcrossZipCode['MeanHomePrice'] = dfAllHomesStdDevAcrossZipCode.mean(axis=1)
dfAllHomesStdDevAcrossZipCode['StdDevHomePrice'] = dfAllHomesStdDevAcrossZipCode.std(axis=1)
dfAllHomesStdDevAcrossZipCode = (dfAllHomesStdDevAcrossZipCode - dfAllHomesStdDevAcrossZipCode['MeanHomePrice']) / dfAllHomesStdDevAcrossZipCode['StdDevHomePrice']

##drop the two added columns so that match the dataframe size of df..InZipCode and df..AcrossZipCode
dfAllHomesStdDevAcrossZipCode = dfAllHomesStdDevAcrossZipCode.drop('MeanHomePrice',axis=1)
dfAllHomesStdDevAcrossZipCode = dfAllHomesStdDevAcrossZipCode.drop('StdDevHomePrice',axis=1)

##Find out which zipcode and its time frame in the dataframe has z score large than 2 in both df..InZipCode and df..AcrossZipCode dataframe
targetZscore = 2
targetZipcodeBoolean = ((dfAllHomesStdDevInZipCode > targetZscore) & (dfAllHomesStdDevAcrossZipCode > targetZscore))
targetZipCodes = dfAllHomesMovingAve[targetZipcodeBoolean].dropna
targetZipCodes

# dfAllHomesMovingAve[targetZipcodeBoolean].sum(axis = 0)

<bound method DataFrame.dropna of ZipCode     93063  93065          93066  93067  93101          93103   93105  \
index
1996-04-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-05-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-06-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-07-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-08-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-09-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-10-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-11-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1996-12-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-01-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-02-28    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-03-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-04-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-05-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-06-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-07-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-08-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-09-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-10-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-11-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1997-12-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-01-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-02-28    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-03-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-04-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-05-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-06-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-07-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-08-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
1998-09-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
...           ...    ...            ...    ...    ...            ...     ...
2013-01-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-02-28    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-03-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-04-30    NaN    NaN            NaN    NaN    NaN  779100.000000     NaN
2013-05-31    NaN    NaN            NaN    NaN    NaN  800766.666667     NaN
2013-06-30    NaN    NaN            NaN    NaN    NaN  831666.666667     NaN
2013-07-31    NaN    NaN            NaN    NaN    NaN  866700.000000     NaN
2013-08-31    NaN    NaN            NaN    NaN    NaN            NaN  854300
2013-09-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-10-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-11-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2013-12-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-01-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-02-28    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-03-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-04-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-05-31    NaN    NaN  909666.666667    NaN    NaN            NaN     NaN
2014-06-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-07-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-08-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-09-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-10-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-11-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2014-12-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-01-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-02-28    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-03-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-04-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-05-31    NaN    NaN            NaN    NaN    NaN            NaN     NaN
2015-06-30    NaN    NaN            NaN    NaN    NaN            NaN     NaN

ZipCode              93108          93109  93110  ...    93505  93510  93512  \
index                                             ...
1996-04-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-05-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-06-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-07-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-08-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-09-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-10-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-11-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1996-12-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-01-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-02-28             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-03-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-04-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-05-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-06-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-07-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-08-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-09-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-10-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-11-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1997-12-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-01-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-02-28             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-03-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-04-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-05-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-06-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-07-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-08-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
1998-09-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
...                    ...            ...    ...  ...      ...    ...    ...
2013-01-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-02-28             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-03-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-04-30  2156366.666667            NaN    NaN  ...      NaN    NaN    NaN
2013-05-31  2201633.333333            NaN    NaN  ...      NaN    NaN    NaN
2013-06-30  2256233.333333  898666.666667    NaN  ...      NaN    NaN    NaN
2013-07-31  2316166.666667  921900.000000    NaN  ...      NaN    NaN    NaN
2013-08-31             NaN  951566.666667    NaN  ...      NaN    NaN    NaN
2013-09-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-10-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-11-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2013-12-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-01-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-02-28             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-03-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-04-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-05-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-06-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-07-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-08-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-09-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-10-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-11-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2014-12-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-01-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-02-28             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-03-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-04-30             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-05-31             NaN            NaN    NaN  ...      NaN    NaN    NaN
2015-06-30             NaN            NaN    NaN  ...      NaN    NaN    NaN

ZipCode             93513  93514  93516  93517  93518  93519  93523
index
1996-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-07-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-08-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-09-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-10-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-11-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1996-12-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-01-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-02-28            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-03-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-07-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-08-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-09-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-10-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-11-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1997-12-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-01-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-02-28            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-03-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-07-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-08-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
1998-09-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                   ...    ...    ...    ...    ...    ...    ...
2013-01-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-02-28            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-03-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-07-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-08-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-09-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-10-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-11-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2013-12-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-01-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-02-28            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-03-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-07-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-08-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-09-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-10-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2014-11-30  179100.000000    NaN    NaN    NaN    NaN    NaN    NaN
2014-12-31  183733.333333    NaN    NaN    NaN    NaN    NaN    NaN
2015-01-31  189666.666667    NaN    NaN    NaN    NaN    NaN    NaN
2015-02-28            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2015-03-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2015-04-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2015-05-31            NaN    NaN    NaN    NaN    NaN    NaN    NaN
2015-06-30            NaN    NaN    NaN    NaN    NaN    NaN    NaN

[231 rows x 125 columns]>

In [89]:
### This cell is trying to calculate the distance between two zipcodes (within California) in miles
import pandas as pd
import pickle
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
from math import radians, cos, sin, asin, sqrt
def calculateDistance(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km


geolocator = Nominatim()

zipcode = pd.read_csv('./DataPfiles/us_postal_codes.csv')
calzipcode = zipcode[zipcode.State == 'California']

startzipcodeIndex = int(100)    #last batch processed by script at test.ipynb
endzipcodeIndex = int(200)

for z in calzipcode.iloc[startzipcodeIndex:endzipcodeIndex,0]:
# for z in calzipcode.iloc[2:3,0]:
# for z in calzipcode['Postal Code']:    
    for i,r in calzipcode.iterrows():
        ziplon1 = calzipcode[calzipcode['Postal Code'] == int(z)]['Longitude']
        ziplat1 = calzipcode[calzipcode['Postal Code'] == int(z)]['Latitude']
        ziplon2 = r['Longitude']
        ziplat2 = r['Latitude']
        calzipcode.loc[i,z] = calculateDistance(ziplon1,ziplat1,ziplon2,ziplat2)

dfname = './DataPfiles/' + 'calzip' + str(int(calzipcode.iloc[startzipcodeIndex]['Postal Code'])) + "_to_" + str(int(calzipcode.iloc[endzipcodeIndex-1]['Postal Code'])) + ".p"
pickle.dump( calzipcode, open( dfname, "wb" ) )
print 'Done: ' + dfname
 
    
# geolocator = Nominatim()
# location = geolocator.geocode("94582")
# print(location.address)
# print((location.latitude, location.longitude))
# print(location.raw)

# # >> newport_ri = (41.49008, -71.312796)
# # >>> cleveland_oh = (41.499498, -81.695391)
# print(vincenty((geolocator.geocode("94582").latitude,geolocator.geocode("94582").longitude), (geolocator.geocode("94122").latitude,geolocator.geocode("94122").longitude)).miles)

Done: ./DataPfiles/calzip90185_to_90620.p

In [1]:
### This cell as well as the cell after this one are just my playground to play with different functions.  This is not part of the project. 


from pylab import plot, ylim, xlim, show, xlabel, ylabel
from numpy import linspace, loadtxt
import numpy as np

r=3.0

x = p.head()
y = pz

def movingaverage(interval, window_size):
    window = np.ones(int(window_size))/float(window_size)
    return np.convolve(interval, window, 'same')

# plot(x,y)
# xlim(0,1000)

x_av = movingaverage(x, r)
# plot(x_av, y)

# xlabel("Months since Jan 1749.")
# ylabel("No. of Sun spots")
# show()
print x_av

p = df11.iloc[:,0]  #ALl Homes price
pz = df11.iloc[:,-1] 
print pz


t1 = df.iloc[:,1] 
t2 = df3.iloc[:,0]
print "mean is % 4.3F and sd is % 4.3F " % (t1.mean(),t1.std
                                            
                                            # add a new column for moving average of All Homes price


p = df11.iloc[:,0] #ALl Homes price
pz = df11.iloc[:,-1] 


window_size = 3.0 #set the number of sample to gathering centered in the middle
movingave = lambda x: np.convolve(x, np.ones(int(window_size))/float(window_size), 'same')
transformed = df11.groupby('ZipCode')
transformed['All Homes'].transform(movingave)
# df11.info()

# df11 = df11[df11['All Homes'].isnull()]
grouped = df11[['All Homes','ZipCode']].groupby('ZipCode')
b = pd.DataFrame()
newdf = pd.DataFrame()
for name,group in grouped:
    g = group.copy()
#     print group.shape
#     print "size: % 3.2F" % movingaverage(group['All Homes'],3).size
#     if sum(g.isnull()) < 0:
#         g['Moving Ave'] = movingaverage(group['All Homes'],3)

#     print g.shape
#     print g.head()

    #     if(newdf.isnull):
#         newdf = g
#     newdf = newdf.append(g)
#     b = group['All Homes']
#     a = movingaverage(group['All Homes'],3)
    
#     group["MovingAve"] = np.convolve(group['All Homes'], np.ones(int(window_size))/float(window_size), 'same')
#     newdf = newdf.append(group)
# print b
# newdf
# newdf.info()
    
    


# df11['Moving Ave'] = movingaverage(df11.iloc[:,0], 3)  #para#1 is All Homes price; para#2 is numer of sample to gather centered in the middle

# df11.head()
x

SyntaxError: invalid syntax (<ipython-input-1-2f2d3327462f>, line 40)

In [57]:
np.sum(dfAllHomesStdDevAcrossZipCode > 2)

ZipCode
93063               0
93065               1
93066              16
93067               0
93101               3
93103               6
93105               3
93108              20
93109              10
93110               7
93111               2
93117               7
93201               0
93202               7
93203               0
93204              11
93205               0
93206               0
93207               0
93208               0
93210               0
93212               0
93215               3
93218               0
93219              16
93221               4
93222              10
93223               2
93224               0
93225               4
                   ..
93442               2
93444               1
93445               5
93446               5
93449              17
93450               0
93451              14
93452               0
93453              11
93454               0
93455               1
93458               2
93460              12
93461               0
93463               7
93465              12
93501               3
93504               0
93505               4
93510               5
93512               0
93513              10
93514               5
93516               0
93517               0
93518               0
93519               0
93523               0
MeanHomePrice       0
StdDevHomePrice    49
dtype: int64

In [21]:
np.average(dfAllHomes['93063'][(-1-y):-1])

483400.0

In [12]:
import pandas as pd
dfAllHomesDiffFromMovAve

ZipCode,93063,93065,93066,93067,93101,93103,93105,93108,93109,93110,...,93505,93510,93512,93513,93514,93516,93517,93518,93519,93523
index,,,,,,,,,,,,,,,,,,,,,
1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-07-31,100.000000,-200.000000,-11100.000000,NaN,-1766.666667,-8666.666667,3466.666667,NaN,-66.666667,-6100.000000,...,-533.333333,-8866.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-08-31,1000.000000,33.333333,-2433.333333,NaN,-133.333333,-4200.000000,6100.000000,NaN,800.000000,-3266.666667,...,-200.000000,-5833.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-09-30,733.333333,566.666667,3866.666667,NaN,1800.000000,2400.000000,6666.666667,NaN,1466.666667,400.000000,...,-766.666667,-2666.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-10-31,-200.000000,600.000000,2000.000000,NaN,3466.666667,7200.000000,6233.333333,NaN,1800.000000,1533.333333,...,-1000.000000,-533.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-11-30,-600.000000,300.000000,-1166.666667,NaN,3466.666667,7666.666667,4966.666667,NaN,-166.666667,-1066.666667,...,-866.666667,833.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-12-31,-566.666667,466.666667,-66.666667,NaN,1900.000000,4200.000000,2700.000000,NaN,-2133.333333,-5300.000000,...,-566.666667,1466.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-01-31,-433.333333,866.666667,1200.000000,NaN,700.000000,766.666667,1533.333333,NaN,-1500.000000,-6566.666667,...,-733.333333,533.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-02-28,-600.000000,933.333333,466.666667,NaN,1333.333333,233.333333,2033.333333,NaN,1033.333333,-3866.666667,...,-700.000000,-1200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-03-31,-933.333333,566.666667,1133.333333,NaN,2833.333333,2633.333333,2900.000000,NaN,3066.666667,-1200.000000,...,-766.666667,-1366.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-04-30,-1133.333333,100.000000,5333.333333,NaN,3233.333333,2933.333333,1933.333333,NaN,3466.666667,-666.666667,...,-666.666667,-100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-05-31,-700.000000,266.666667,8833.333333,NaN,3166.666667,2066.666667,2366.666667,17300.000000,4533.333333,-666.666667,...,-833.333333,566.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-06-30,-266.666667,666.666667,9000.000000,NaN,3900.000000,3500.000000,4166.666667,16733.333333,7100.000000,1600.000000,...,-1233.333333,-400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-07-31,-233.333333,733.333333,6366.666667,NaN,5400.000000,6633.333333,6533.333333,18700.000000,10366.666667,6533.333333,...,-2500.000000,-3633.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-08-31,-233.333333,366.666667,3133.333333,NaN,6600.000000,6300.000000,6966.666667,20500.000000,10966.666667,10200.000000,...,-2966.666667,-5400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-09-30,166.666667,400.000000,5000.000000,NaN,6400.000000,4166.666667,8033.333333,21066.666667,9666.666667,9066.666667,...,-2200.000000,-3766.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-31,966.666667,1000.000000,10433.333333,NaN,4733.333333,1800.000000,9100.000000,23300.000000,8066.666667,5600.000000,...,-1100.000000,-966.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-11-30,2133.333333,2333.333333,14500.000000,NaN,3833.333333,2866.666667,9833.333333,21866.666667,8266.666667,5033.333333,...,-533.333333,1300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-12-31,3166.666667,3300.000000,16133.333333,NaN,4733.333333,6133.333333,8100.000000,14633.333333,8100.000000,7966.666667,...,-400.000000,2166.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-31,3966.666667,3533.333333,17666.666667,NaN,6300.000000,9166.666667,7333.333333,13733.333333,6900.000000,12366.666667,...,-600.000000,1400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-02-28,4400.000000,3366.666667,12966.666667,NaN,7266.666667,8400.000000,7133.333333,18433.333333,5266.666667,13866.666667,...,-433.333333,1133.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-03-31,4666.666667,3633.333333,5866.666667,NaN,6366.666667,6800.000000,5766.666667,12266.666667,4333.333333,10966.666667,...,100.000000,1966.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-04-30,4566.666667,3866.666667,3366.666667,NaN,11100.000000,14566.666667,10133.333333,15700.000000,8233.333333,14333.333333,...,766.666667,2100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-05-31,3966.666667,3700.000000,6566.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600.000000,2300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-06-30,2666.666667,3200.000000,11033.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2033.333333,3000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-07-31,1700.000000,2800.000000,13233.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2100.000000,2866.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-08-31,2066.666667,2633.333333,9600.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2633.333333,2933.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-09-30,3133.333333,3000.000000,5000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2700.000000,5400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-31,6833.333333,8366.666667,12100.000000,NaN,11666.666667,12133.333333,18133.333333,75100.000000,8466.666667,26433.333333,...,166.666667,3333.333333,NaN,-1100.000000,-3266.666667,NaN,NaN,NaN,NaN,NaN
2013-02-28,6966.666667,8633.333333,16766.666667,NaN,19066.666667,18200.000000,19433.333333,75633.333333,8200.000000,27200.000000,...,266.666667,4866.666667,NaN,-1133.333333,-6000.000000,NaN,NaN,NaN,NaN,NaN
2013-03-31,9600.000000,10033.333333,28000.000000,NaN,23700.000000,31166.666667,19100.000000,79566.666667,10800.000000,27566.666667,...,1466.666667,6533.333333,NaN,-1766.666667,-4966.666667,NaN,NaN,NaN,NaN,NaN
2013-04-30,12033.333333,11733.333333,26600.000000,NaN,23833.333333,49700.000000,18833.333333,95533.333333,18633.333333,27266.666667,...,3066.666667,7633.333333,NaN,-4033.333333,-3800.000000,NaN,NaN,NaN,NaN,NaN
2013-05-31,13000.000000,13266.666667,15733.333333,NaN,23233.333333,68233.333333,23233.333333,117966.666667,35433.333333,30000.000000,...,3633.333333,8333.333333,NaN,-4233.333333,-3633.333333,NaN,NaN,NaN,NaN,NaN
2013-06-30,13466.666667,14466.666667,16400.000000,NaN,25900.000000,70633.333333,32300.000000,120766.666667,53033.333333,32200.000000,...,2600.000000,9166.666667,NaN,-1800.000000,-2500.000000,NaN,NaN,NaN,NaN,NaN
2013-07-31,13666.666667,15633.333333,27733.333333,NaN,32200.000000,53600.000000,40500.000000,101933.333333,61700.000000,37933.333333,...,2266.666667,9333.333333,NaN,-1200.000000,1533.333333,NaN,NaN,NaN,NaN,NaN
2013-08-31,12000.000000,15400.000000,31566.666667,NaN,35600.000000,36900.000000,44700.000000,83233.333333,60733.333333,39900.000000,...,3033.333333,8200.000000,NaN,-2166.666667,6433.333333,NaN,NaN,NaN,NaN,NaN
2013-09-30,10800.000000,14366.666667,23500.000000,NaN,32733.333333,22400.000000,42766.666667,67466.666667,43666.666667,28000.000000,...,3433.333333,6566.666667,NaN,-4333.333333,8633.333333,NaN,NaN,NaN,NaN,NaN
2013-10-31,11800.000000,13633.333333,19100.000000,NaN,24433.333333,8300.000000,31333.333333,35766.666667,17633.333333,5000.000000,...,2800.000000,4966.666667,NaN,-3500.000000,9133.333333,NaN,NaN,NaN,NaN,NaN
2013-11-30,13466.666667,12700.000000,22733.333333,NaN,19133.333333,2966.666667,19666.666667,6033.333333,5633.333333,-5466.666667,...,2333.333333,5433.333333,NaN,-1733.333333,9900.000000,NaN,NaN,NaN,NaN,NaN
2013-12-31,11900.000000,8933.333333,17833.333333,NaN,17000.000000,5200.000000,11933.333333,8766.666667,8900.000000,-6666.666667,...,2366.666667,7200.000000,NaN,-2800.000000,6900.000000,NaN,NaN,NaN,NaN,NaN
2014-01-31,6833.333333,4600.000000,2933.333333,NaN,14933.333333,10166.666667,8566.666667,38666.666667,15700.000000,-5766.666667,...,2233.333333,8300.000000,NaN,-5633.333333,1100.000000,NaN,NaN,NaN,NaN,NaN
2014-02-28,2100.000000,1833.333333,-4566.666667,NaN,15333.333333,14566.666667,6966.666667,58500.000000,21266.666667,-1633.333333,...,1500.000000,7633.333333,NaN,-5866.666667,-1266.666667,NaN,NaN,NaN,NaN,NaN
2014-03-31,1800.000000,2233.333333,7366.666667,NaN,18633.333333,21633.333333,18966.666667,65533.333333,19600.000000,6433.333333,...,1000.000000,8233.333333,NaN,-3033.333333,2666.666667,NaN,NaN,NaN,NaN,NaN
2014-04-30,3566.666667,3666.666667,30500.000000,NaN,20366.666667,22700.000000,32100.000000,64733.333333,12266.666667,9966.666667,...,1100.000000,9066.666667,NaN,33.333333,6366.666667,NaN,NaN,NaN,NaN,NaN
2014-05-31,4666.666667,5166.666667,40633.333333,NaN,13533.333333,15200.000000,30866.666667,50766.666667,2866.666667,10233.333333,...,1200.000000,9900.000000,NaN,-733.333333,6866.666667,NaN,NaN,NaN,NaN,NaN
2014-06-30,4366.666667,6100.000000,25566.666667,NaN,2033.333333,8800.000000,18400.000000,34500.000000,-8833.333333,12066.666667,...,833.333333,8733.333333,NaN,-4666.666667,5600.000000,NaN,NaN,NaN,NaN,NaN
2014-07-31,3866.666667,5900.000000,9866.666667,NaN,-4666.666667,9700.000000,16566.666667,23833.333333,-16100.000000,13700.000000,...,633.333333,6566.666667,NaN,-4666.666667,6000.000000,NaN,NaN,NaN,NaN,NaN
2014-08-31,3833.333333,5200.000000,8433.333333,NaN,-1600.000000,12866.666667,19000.000000,19300.000000,-9100.000000,14600.000000,...,766.666667,4533.333333,NaN,433.333333,5300.000000,NaN,NaN,NaN,NaN,NaN
2014-09-30,4133.333333,4433.333333,7766.666667,NaN,366.666667,17000.000000,15833.333333,19900.000000,3233.333333,15300.000000,...,933.333333,5833.333333,NaN,4666.666667,2633.333333,NaN,NaN,NaN,NaN,NaN
2014-10-31,3833.333333,3400.000000,-3600.000000,NaN,-800.000000,20633.333333,11866.666667,28366.666667,10900.000000,13366.666667,...,800.000000,9366.666667,NaN,6433.333333,1433.333333,NaN,NaN,NaN,NaN,NaN
2014-11-30,3966.666667,2733.333333,-16066.666667,NaN,-566.666667,24000.000000,15600.000000,29666.666667,11500.000000,9100.000000,...,666.666667,10533.333333,NaN,10600.000000,3866.666667,NaN,NaN,NaN,NaN,NaN
2014-12-31,3566.666667,2433.333333,-17400.000000,NaN,633.333333,27233.333333,17633.333333,23266.666667,9433.333333,4266.666667,...,1000.000000,7766.666667,NaN,13166.666667,4100.000000,NaN,NaN,NaN,NaN,NaN
2015-01-31,2366.666667,2400.000000,-10633.333333,NaN,2133.333333,27933.333333,14200.000000,17700.000000,12566.666667,-1300.000000,...,1766.666667,5333.333333,NaN,11033.333333,2100.000000,NaN,NaN,NaN,NaN,NaN
2015-02-28,2033.333333,3400.000000,-3200.000000,NaN,3033.333333,24000.000000,15600.000000,21933.333333,23733.333333,-633.333333,...,2833.333333,5866.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,2733.333333,5066.666667,-2566.666667,NaN,766.666667,14000.000000,18800.000000,16400.000000,34833.333333,7833.333333,...,3400.000000,5366.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,2366.666667,5066.666667,-5300.000000,NaN,-3600.000000,3866.666667,17033.333333,4533.333333,35800.000000,13600.000000,...,3100.000000,3000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-31,-166.666667,1733.333333,-10900.000000,NaN,-6900.000000,-2433.333333,13133.333333,-7200.000000,32800.000000,19066.666667,...,2666.666667,-966.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-30,0.000000,-500.000000,-11533.333333,NaN,-6000.000000,2200.000000,10600.000000,-15733.333333,24433.333333,12333.333333,...,2633.333333,-866.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
print dfAllHomesStdDevAcrossZipCode.shape
dfAllHomesStdDevAcrossZipCode
# np.sum(dfAllHomesStdDevAcrossZipCode > 2)

(231, 127)

ZipCode,93063,93065,93066,93067,93101,93103,93105,93108,93109,93110,...,93512,93513,93514,93516,93517,93518,93519,93523,MeanHomePrice,StdDevHomePrice
index,,,,,,,,,,,,,,,,,,,,,
1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-07-31,0.002422,-0.084785,-3.253319,NaN,-0.540201,-2.545970,0.981083,NaN,-0.046026,-1.799863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.973353
1996-08-31,0.141966,-0.189977,-1.037005,NaN,-0.247209,-1.643660,1.893254,NaN,0.073288,-1.323163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.798576
1996-09-30,-0.072360,-0.144320,1.280493,NaN,0.388186,0.647242,2.489425,NaN,0.244265,-0.216281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.611015
1996-10-31,-0.550377,-0.107203,0.668352,NaN,1.480838,3.548984,3.013482,NaN,0.557558,0.409834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.560416
1996-11-30,-0.657150,-0.108867,-1.002365,NaN,1.820276,4.378930,2.734081,NaN,-0.393162,-0.941444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.708372
1996-12-31,-0.485677,0.235568,-0.136688,NaN,1.236004,2.841356,1.794387,NaN,-1.579177,-3.789444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.909844
1997-01-31,-0.366208,0.551109,0.786318,NaN,0.433504,0.480546,1.021528,NaN,-1.118878,-4.694062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.939564
1997-02-28,-0.727465,0.381819,0.044211,NaN,0.671197,-0.124593,1.177609,NaN,0.454163,-3.090722,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.706602
1997-03-31,-1.225433,-0.152641,0.252636,NaN,1.468467,1.325428,1.516147,NaN,1.635346,-1.416152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.442082
1997-04-30,-1.175824,-0.410144,2.838821,NaN,1.535096,1.348849,0.728028,NaN,1.679954,-0.886107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.527773
1997-05-31,-0.597567,-0.231011,3.017441,NaN,0.868660,0.451543,0.565302,6.227974,1.386895,-0.584928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.667870
1997-06-30,-0.403002,-0.054672,3.055420,NaN,1.152044,1.002759,1.251567,5.941586,2.346319,0.293658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.696520
1997-07-31,-0.380596,-0.075232,1.704300,NaN,1.398936,1.788538,1.756948,5.600316,2.967873,1.756948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.693112
1997-08-31,-0.307140,-0.138669,0.638172,NaN,1.611564,1.527328,1.714519,5.514489,2.837663,2.622393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.758376
1997-09-30,-0.149995,-0.085277,1.190593,NaN,1.578901,0.959457,2.031927,5.646892,2.484954,2.318536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.803778
1997-10-31,0.067369,0.075832,2.470839,NaN,1.023679,0.278942,2.132322,5.737526,1.869971,1.243715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.821945
1997-11-30,0.297635,0.348582,3.447888,NaN,0.730689,0.484442,2.259113,5.324454,1.860025,1.036373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.754195
1997-12-31,0.503402,0.541933,4.250522,NaN,0.956139,1.360712,1.929042,3.817051,1.929042,1.890511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.588296
1998-01-31,0.504072,0.385821,4.242613,NaN,1.140806,1.923080,1.422789,3.169261,1.304538,2.796316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.421623
1998-02-28,0.536537,0.257575,2.849223,NaN,1.310432,1.616390,1.274437,4.325022,0.770506,3.092190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.348699
1998-03-31,0.857150,0.544351,1.220401,NaN,1.371755,1.502929,1.190130,3.157736,0.756247,2.764215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.444510
1998-04-30,0.481248,0.315113,0.196445,NaN,2.031845,2.854611,1.802420,3.123592,1.351481,2.799233,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.397412
1998-05-31,1.718981,1.554681,3.320898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.275030
1998-06-30,0.716451,0.964036,4.600450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.478523
1998-07-31,0.263159,0.700286,4.846370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.587599
1998-08-31,0.559400,0.839100,4.277766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.539317
1998-09-30,1.283892,1.203355,2.411409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.391275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-31,0.073573,0.234206,0.625313,NaN,0.579917,0.628805,1.257369,7.225236,0.244682,2.126883,...,NaN,-0.757528,-0.984510,NaN,NaN,NaN,NaN,NaN,0,0.357709
2013-02-28,0.076295,0.246754,1.078592,NaN,1.313825,1.225187,1.351326,7.099193,0.202434,2.145663,...,NaN,-0.752134,-1.249874,NaN,NaN,NaN,NaN,NaN,0,0.363778
2013-03-31,0.265469,0.306842,2.022240,NaN,1.611690,2.324583,1.172498,6.945654,0.380041,1.980867,...,NaN,-0.819783,-1.125308,NaN,NaN,NaN,NaN,NaN,0,0.348893
2013-04-30,0.331095,0.306928,1.504575,NaN,1.281695,3.365494,0.878898,7.057793,0.862786,1.558281,...,NaN,-0.963223,-0.944426,NaN,NaN,NaN,NaN,NaN,0,0.361699
2013-05-31,0.245752,0.263150,0.424085,NaN,0.913413,3.849383,0.913413,7.094174,1.709387,1.354896,...,NaN,-0.878616,-0.839470,NaN,NaN,NaN,NaN,NaN,0,0.397582
2013-06-30,0.193353,0.255001,0.374188,NaN,0.959846,3.717575,1.354394,6.808204,2.632567,1.348229,...,NaN,-0.747809,-0.790963,NaN,NaN,NaN,NaN,NaN,0,0.363158
2013-07-31,0.177673,0.310018,1.124280,NaN,1.424861,2.864960,1.983404,6.117521,3.410045,1.810682,...,NaN,-0.822770,-0.638832,NaN,NaN,NaN,NaN,NaN,0,0.257983
2013-08-31,0.066858,0.317828,1.511168,NaN,1.808888,1.904847,2.480603,5.324934,3.664100,2.126291,...,NaN,-0.978853,-0.344045,NaN,NaN,NaN,NaN,NaN,0,0.181080
2013-09-30,0.064194,0.379709,1.187661,NaN,2.004460,1.090353,2.892028,5.077039,2.971644,1.585740,...,NaN,-1.274530,-0.127473,NaN,NaN,NaN,NaN,NaN,0,0.108805
2013-10-31,0.535524,0.781066,1.513229,NaN,2.227535,0.066761,3.151667,3.745433,1.316795,-0.375216,...,NaN,-1.513640,0.178371,NaN,NaN,NaN,NaN,NaN,0,-0.044877
2013-11-30,1.399285,1.258449,3.101569,NaN,2.440250,-0.529562,2.538223,0.033784,-0.039696,-2.078763,...,NaN,-1.392951,0.744089,NaN,NaN,NaN,NaN,NaN,0,-0.074538
2013-12-31,1.540567,0.915247,2.791207,NaN,2.615555,0.128327,1.547593,0.880116,0.908220,-2.372954,...,NaN,-1.557930,0.486656,NaN,NaN,NaN,NaN,NaN,0,0.032260
2014-01-31,0.494214,0.098666,-0.196518,NaN,1.928810,1.084583,0.801205,6.132238,2.064595,-1.737382,...,NaN,-1.713767,-0.521221,NaN,NaN,NaN,NaN,NaN,0,0.283957
2014-02-28,-0.248153,-0.285392,-1.179129,NaN,1.599833,1.492771,0.431459,7.627900,2.428402,-0.769499,...,NaN,-1.360669,-0.718296,NaN,NaN,NaN,NaN,NaN,0,0.458590
2014-03-31,-0.412521,-0.358985,0.275203,NaN,1.667123,2.037753,1.708304,7.461298,1.786548,0.159896,...,NaN,-1.009646,-0.305450,NaN,NaN,NaN,NaN,NaN,0,0.365102
2014-04-30,-0.300230,-0.289406,2.615228,NaN,1.518323,1.770899,2.788423,6.320891,0.641520,0.392552,...,NaN,-0.682704,0.002862,NaN,NaN,NaN,NaN,NaN,0,0.313688
2014-05-31,-0.139118,-0.080686,4.064119,NaN,0.897083,1.091857,2.922739,5.248349,-0.349475,0.511429,...,NaN,-0.770188,0.117984,NaN,NaN,NaN,NaN,NaN,0,0.315513
2014-06-30,0.041836,0.316133,3.396698,NaN,-0.327410,0.743403,2.262585,4.810381,-2.047040,1.260347,...,NaN,-1.387673,0.237009,NaN,NaN,NaN,NaN,NaN,0,0.350819
2014-07-31,0.096618,0.475592,1.214902,NaN,-1.493830,1.183838,2.463652,3.818017,-3.624781,1.929361,...,NaN,-1.493830,0.494230,NaN,NaN,NaN,NaN,NaN,0,0.375946
2014-08-31,0.067610,0.328047,0.944203,NaN,-0.967787,1.789036,2.957828,3.014997,-2.397015,2.119347,...,NaN,-0.580307,0.347104,NaN,NaN,NaN,NaN,NaN,0,0.337115
2014-09-30,0.109273,0.158053,0.700057,NaN,-0.503191,2.201407,2.011706,2.672950,-0.037068,1.924985,...,NaN,0.195993,-0.134629,NaN,NaN,NaN,NaN,NaN,0,0.437188
2014-10-31,0.073486,0.012193,-0.977912,NaN,-0.581870,2.449739,1.209750,3.543570,1.073021,1.421915,...,NaN,0.441239,-0.265979,NaN,NaN,NaN,NaN,NaN,0,0.531285
2014-11-30,0.062198,-0.111449,-2.758398,NaN,-0.576073,2.882794,1.700115,3.680633,1.122855,0.784946,...,NaN,0.996139,0.048118,NaN,NaN,NaN,NaN,NaN,0,0.503711
2014-12-31,0.004180,-0.172458,-3.263630,NaN,-0.453002,3.692805,2.196574,3.074571,0.918544,0.113280,...,NaN,1.500411,0.087304,NaN,NaN,NaN,NaN,NaN,0,0.448289
2015-01-31,-0.228517,-0.222686,-2.502967,NaN,-0.269341,4.244566,1.841815,2.454166,1.556050,-0.870029,...,NaN,1.287782,-0.275173,NaN,NaN,NaN,NaN,NaN,0,0.357416
2015-02-28,-0.453481,-0.229979,-1.309330,NaN,-0.289943,3.138904,1.765185,2.800926,3.095294,-0.889583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.213991
2015-03-31,-0.408364,-0.022564,-1.284680,NaN,-0.733538,1.454497,2.248141,1.851319,4.899135,0.434884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.139700
2015-04-30,-0.294483,0.192315,-1.676748,NaN,-1.370246,-0.024039,2.349851,0.096158,5.733397,1.730837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.278818
2015-05-31,-0.316737,0.008733,-2.155360,NaN,-1.470159,-0.705018,1.961556,-1.521549,5.330460,2.977937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.711813
2015-06-30,-0.167092,-0.263797,-2.397765,NaN,-1.327558,0.258412,1.883064,-3.210091,4.558582,2.218310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.832908

In [51]:
dfAllHomesDiffFromMovAve.mean(axis =1 )

index
1996-04-30             NaN
1996-05-31             NaN
1996-06-30             NaN
1996-07-31       91.666667
1996-08-31      586.574074
1996-09-30      900.925926
1996-10-31      793.518519
1996-11-30      478.703704
1996-12-31      129.166667
1997-01-31       85.648148
1997-02-28      405.555556
1997-03-31      780.092593
1997-04-30      760.648148
1997-05-31      875.877193
1997-06-30      813.157895
1997-07-31      971.491228
1997-08-31      860.526316
1997-09-30      707.456140
1997-10-31      701.315789
1997-11-30      964.935065
1997-12-31     1424.675325
1998-01-31     2119.480519
1998-02-28     2412.554113
1998-03-31     1835.064935
1998-04-30     2538.961039
1998-05-31     1176.666667
1998-06-30     1123.333333
1998-07-31     1037.777778
1998-08-31      933.333333
1998-09-30     1007.777778
                  ...
2013-01-31     6131.034483
2013-02-28     6220.689655
2013-03-31     6819.540230
2013-04-30     7923.371648
2013-05-31     9233.333333
2013-06-30    10330.268199
2013-07-31    11026.436782
2013-08-31    11094.252874
2013-09-30    10074.329502
2013-10-31     7801.532567
2013-11-30     5849.425287
2013-12-31     4591.187739
2014-01-31     4042.911877
2014-02-28     3877.011494
2014-03-31     5139.080460
2014-04-30     6340.229885
2014-05-31     5857.088123
2014-06-30     4102.298851
2014-07-31     3348.275862
2014-08-31     3478.544061
2014-09-30     3461.302682
2014-10-31     3313.793103
2014-11-30     3524.904215
2014-12-31     3539.846743
2015-01-31     3672.796935
2015-02-28     4806.274510
2015-03-31     5203.137255
2015-04-30     4000.000000
2015-05-31     1682.352941
2015-06-30      863.921569
dtype: float64

In [1]:
dfAllHomesDiffFromMovAve.std(axis = 1)

NameError: name 'dfAllHomesDiffFromMovAve' is not defined

In [1]:
from geopy.geocoders import Nominatim
from geopy.distance import vincenty

geolocator = Nominatim()
location = geolocator.geocode("94582")
print(location.address)
print((location.latitude, location.longitude))
print(location.raw)

# >> newport_ri = (41.49008, -71.312796)
# >>> cleveland_oh = (41.499498, -81.695391)
print(vincenty((geolocator.geocode("94582").latitude,geolocator.geocode("94582").longitude), (geolocator.geocode("94122").latitude,geolocator.geocode("94122").longitude)).miles)

San Ramon, Contra Costa County, California, 94582, United States of America
(37.7608662693782, -121.903546728611)
{u'display_name': u'San Ramon, Contra Costa County, California, 94582, United States of America', u'importance': 0.225, u'place_id': u'128955624', u'lon': u'-121.903546728611', u'lat': u'37.7608662693782', u'licence': u'Data \xa9 OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright', u'boundingbox': [u'37.760816269378', u'37.760916269378', u'-121.90359672861', u'-121.90349672861'], u'type': u'postcode', u'class': u'place'}
31.8138952547

In [46]:
import pandas as pd
import pickle

df = pickle.load( open( ".\DataPfiles\calzip90001_to_90010.p", "rb" ) ) 

# print "abcde"
# zipcode = pd.read_csv('./DataPfiles/us_postal_codes.csv')
# calzipcode = zipcode[zipcode.State == 'California']
df

,Postal Code,Place Name,State,State Abbreviation,County,Latitude,Longitude,Unnamed: 7,90001,90002,90003,90004,90005,90006,90007,90008,90009,90010
39116,90001,Los Angeles,California,CA,Los Angeles,33.9731,-118.2479,NaN,0.000000,2.605044,2.444413,12.526859,10.684774,9.379803,7.223813,9.593777,21.248139,10.955510
39117,90002,Los Angeles,California,CA,Los Angeles,33.9497,-118.2462,NaN,2.605044,0.000000,2.995232,14.996201,13.109151,11.835250,9.625065,11.125998,18.760691,13.377814
39118,90003,Los Angeles,California,CA,Los Angeles,33.9653,-118.2727,NaN,2.444413,2.995232,0.000000,12.633782,10.684404,9.497183,7.245611,8.135811,20.002416,10.944822
39119,90004,Los Angeles,California,CA,Los Angeles,34.0762,-118.3029,NaN,12.526859,14.996201,12.633782,0.000000,1.973130,3.162086,5.400275,7.994109,32.184163,1.733650
39120,90005,Los Angeles,California,CA,Los Angeles,34.0585,-118.3012,NaN,10.684774,13.109151,10.684404,1.973130,0.000000,1.345442,3.484639,6.376781,30.215798,0.271160
39121,90006,Los Angeles,California,CA,Los Angeles,34.0493,-118.2917,NaN,9.379803,11.835250,9.497183,3.162086,1.345442,0.000000,2.251593,6.184544,29.199703,1.613214
39122,90007,Los Angeles,California,CA,Los Angeles,34.0294,-118.2871,NaN,7.223813,9.625065,7.245611,5.400275,3.484639,2.251593,0.000000,5.352551,27.002379,3.752879
39123,90008,Los Angeles,California,CA,Los Angeles,34.0116,-118.3411,NaN,9.593777,11.125998,8.135811,7.994109,6.376781,6.184544,5.352551,0.000000,25.307152,6.492606
39124,90009,Los Angeles,California,CA,Los Angeles,33.7866,-118.2987,NaN,21.248139,18.760691,20.002416,32.184163,30.215798,29.199703,27.002379,25.307152,0.000000,30.450515
39125,90010,Los Angeles,California,CA,Los Angeles,34.0606,-118.3027,NaN,10.955510,13.377814,10.944822,1.733650,0.271160,1.613214,3.752879,6.492606,30.450515,0.000000
39126,90011,Los Angeles,California,CA,Los Angeles,34.0079,-118.2582,NaN,3.981897,6.561334,4.918854,8.634088,6.877370,5.539302,3.576849,7.647504,24.874100,7.147707
39127,90012,Los Angeles,California,CA,Los Angeles,34.0614,-118.2385,NaN,9.850472,12.432926,11.134079,6.152072,5.781265,5.079168,5.715815,10.949572,31.037604,5.910964
39128,90013,Los Angeles,California,CA,Los Angeles,34.0448,-118.2434,NaN,7.978446,10.571146,9.237581,6.494612,5.535176,4.475289,4.372952,9.724807,29.142174,5.735106
39129,90014,Los Angeles,California,CA,Los Angeles,34.0443,-118.2509,NaN,7.916933,10.521350,9.005658,5.956804,4.892628,3.797572,3.722108,9.067112,28.974216,5.101613
39130,90015,Los Angeles,California,CA,Los Angeles,34.0434,-118.2716,NaN,8.111423,10.672146,8.679463,4.646353,3.200471,1.963440,2.111328,7.311438,28.646151,3.442713
39131,90016,Los Angeles,California,CA,Los Angeles,34.0298,-118.3528,NaN,11.536543,13.255183,10.287478,6.906062,5.722429,6.029198,6.050790,2.291655,27.482340,5.744149
39132,90017,Los Angeles,California,CA,Los Angeles,34.0559,-118.2666,NaN,9.360997,11.950187,10.083603,4.031765,3.198519,2.424544,3.497881,8.444165,30.072025,3.364287
39133,90018,Los Angeles,California,CA,Los Angeles,34.0290,-118.3152,NaN,8.776583,10.866173,8.089431,5.365966,3.522548,3.125962,2.588257,3.070734,26.979677,3.695370
39134,90019,Los Angeles,California,CA,Los Angeles,34.0482,-118.3343,NaN,11.532096,13.626748,10.819734,4.247045,3.255340,3.924256,4.822423,4.115109,29.255110,3.219167
39135,90020,Los Angeles,California,CA,Los Angeles,34.0665,-118.3022,NaN,11.521226,13.966977,11.569475,1.079838,0.893755,2.141897,4.350864,7.074654,31.105593,0.657252
39136,90021,Los Angeles,California,CA,Los Angeles,34.0333,-118.2447,NaN,6.696224,9.291087,7.984673,7.172064,5.908170,4.678850,3.928715,9.200324,27.863236,6.141934
39137,90022,Los Angeles,California,CA,Los Angeles,34.0245,-118.1561,NaN,10.205492,11.747910,12.596919,14.686550,13.885012,12.787477,12.077073,17.100043,29.527423,14.082505
39138,90023,Los Angeles,California,CA,Los Angeles,34.0245,-118.1975,NaN,7.361038,9.446030,9.554067,11.277527,10.269200,9.101833,8.269895,13.304065,28.035922,10.484700
39139,90024,Los Angeles,California,CA,Los Angeles,34.0637,-118.4408,NaN,20.421669,21.950927,18.955698,12.769602,12.864640,13.819931,14.656440,10.854033,33.464549,12.718073
39140,90025,Los Angeles,California,CA,Los Angeles,34.0447,-118.4487,NaN,20.135810,21.436079,18.458730,13.871463,13.666765,14.464948,14.978020,10.570193,31.842836,13.557809
39141,90026,Los Angeles,California,CA,Los Angeles,34.0766,-118.2646,NaN,11.603835,14.203264,12.390705,3.525564,3.923879,3.927772,5.639370,10.089213,32.379289,3.932140
39142,90027,Los Angeles,California,CA,Los Angeles,34.1040,-118.2925,NaN,15.114945,17.668866,15.520531,3.234144,5.119205,6.078990,8.304824,11.200470,35.275742,4.913349
39143,90028,Los Angeles,California,CA,Los Angeles,34.1005,-118.3254,NaN,15.854440,18.276379,15.788528,3.402884,5.171508,6.480248,8.651977,9.984206,34.968909,4.901485
39144,90029,Los Angeles,California,CA,Los Angeles,34.0900,-118.2944,NaN,13.678155,16.210603,14.000672,1.721544,3.555961,4.529616,6.767633,9.715474,33.717690,3.355214
39145,90030,Los Angeles,California,CA,Los Angeles,33.7866,-118.2987,NaN,21.248139,18.760691,20.002416,32.184163,30.215798,29.199703,27.002379,25.307152,0.000000,30.450515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41878,96126,Sierraville,California,CA,Sierra,39.5825,-120.3711,NaN,651.302415,653.843088,651.499769,638.887704,640.820857,642.045724,644.287784,644.828809,669.966414,640.558374
41879,96127,Susanville,California,CA,Lassen,40.4461,-120.6641,NaN,750.335809,752.880421,750.549657,737.932944,739.868716,741.089802,743.333210,743.907107,769.059678,739.606693
41880,96128,Standish,California,CA,Lassen,40.3509,-120.4068,NaN,733.997759,736.555072,734.270368,721.641396,723.585970,724.792845,727.040271,727.744262,752.957000,723.325739
41881,96129,Beckwourth,California,CA,Plumas,39.7721,-120.4051,NaN,672.279146,674.822832,672.489315,659.873524,661.808752,663.030645,665.273771,665.842261,690.993795,661.546633
41882,96130,Susanville,California,CA,Lassen,40.3983,-120.6464,NaN,744.819041,747.363543,745.032430,732.415836,734.351537,735.572728,737.816101,738.389157,763.541405,734.089502
41883,96132,Termo,California,CA,Lassen,40.9509,-120.6130,NaN,802.887808,805.446005,803.164492,790.534989,792.480089,793.686016,795.933660,796.644481,821.859021,792.219977
41884,96133,Topaz,California,CA,Mono,38.6415,-119.5122,NaN,530.969622,533.546246,531.349955,518.718207,520.676105,521.854489,524.105818,525.057485,550.345639,520.419658
41885,96134,Tulelake,California,CA,Siskiyou,41.9316,-121.4347,NaN,927.231538,929.768877,927.413888,914.806976,916.737500,917.965958,920.206647,920.706727,945.815503,916.474570
41886,96135,Vinton,California,CA,Plumas,40.0235,-120.7986,NaN,709.345110,711.868589,709.473449,696.887777,698.808727,700.049103,702.284306,702.670792,727.713075,698.544390
41887,96136,Wendel,California,CA,Lassen,40.3406,-120.2824,NaN,730.107502,732.671271,730.412885,717.780335,719.729317,720.927935,723.177021,723.953383,749.193198,719.470155
41888,96137,Westwood,California,CA,Lassen,40.3038,-121.0226,NaN,745.089587,747.606355,745.192898,732.619341,734.535482,735.781217,738.013485,738.343614,763.345469,734.270528
41889,96140,Carnelian Bay,California,CA,Placer,39.2319,-120.0753,NaN,606.656109,609.208174,606.904315,594.279386,596.220542,597.433271,599.679218,600.334567,625.529260,595.959573
41890,96141,Homewood,California,CA,Placer,39.0786,-120.1734,NaN,592.787893,595.328030,592.983320,580.371754,582.304629,583.529893,585.771799,586.311190,611.449736,582.042101
41891,96142,Tahoma,California,CA,El Dorado,39.0644,-120.1357,NaN,590.314015,592.856701,590.520333,577.905508,579.840173,581.062894,583.305724,583.869315,609.020668,579.577956
41892,96143,Kings Beach,California,CA,Placer,39.2401,-120.0233,NaN,606.305652,608.861568,606.572137,593.943980,595.887791,597.096030,599.343126,600.038869,625.250622,595.627393
41893,96145,Tahoe City,California,CA,Placer,39.1806,-120.1445,NaN,602.883371,605.428916,603.102065,590.483873,592.420510,593.640327,595.884147,596.474474,621.638932,592.158653
41894,96146,Olympic Valley,California,CA,Placer,39.1752,-120.1954,NaN,603.598971,606.140445,603.800005,591.186750,593.120542,594.344512,596.586896,597.138157,622.282653,592.858171
41895,96148,Tahoe Vista,California,CA,Placer,39.2448,-120.0521,NaN,607.482777,610.036816,607.740260,595.113603,597.056120,598.266580,600.513127,601.188926,626.392405,596.795438
41896,96150,South Lake Tahoe,California,CA,El Dorado,38.9170,-119.9865,NaN,570.916131,573.466039,571.154616,558.531648,560.471380,561.686420,563.931713,564.567438,589.754338,560.210122
41897,96151,South Lake Tahoe,California,CA,El Dorado,38.9039,-119.9950,NaN,569.726689,572.275551,569.960421,557.338507,559.277516,560.493701,562.738656,563.363937,588.546091,559.016114
41898,96152,South Lake Tahoe,California,CA,El Dorado,38.9271,-119.9990,NaN,572.297431,574.846665,572.532832,559.910546,561.849808,563.065594,565.310668,565.939500,591.123212,561.588456
41899,96153,South Lake Tahoe,California,CA,NaN,38.9333,-119.9834,NaN,572.579724,575.130342,572.821453,560.197794,562.138015,563.352271,565.597790,566.240594,591.430634,561.876855
41900,96154,South Lake Tahoe,California,CA,El Dorado,38.8753,-120.0188,NaN,567.268456,569.814563,567.489866,554.870916,556.808013,558.027144,560.271183,560.869353,586.038750,556.546243
41901,96155,South Lake Tahoe,California,CA,El Dorado,38.8449,-120.0430,NaN,564.644790,567.187958,564.853364,552.237851,554.172903,555.395066,557.638089,558.208017,583.363480,553.910757
41902,96156,South Lake Tahoe,California,CA,El Dorado,38.9352,-119.9676,NaN,572.402242,574.954119,572.649801,560.024953,561.966046,563.178886,565.424800,566.080502,591.276250,561.705066
41903,96157,South Lake Tahoe,California,CA,El Dorado,38.9344,-119.9767,NaN,572.535442,575.086604,572.779682,560.155502,562.096100,563.309747,565.555437,566.203794,591.396307,561.835017
41904,96158,South Lake Tahoe,California,CA,El Dorado,38.8981,-119.9984,NaN,569.191890,571.740313,569.423639,556.802180,558.740885,559.957546,562.202358,562.823284,588.003435,558.479423
41905,96160,Truckee,California,CA,Nevada,39.3781,-120.1864,NaN,624.937910,627.486011,625.167848,612.546896,614.485273,615.702435,617.947100,618.561232,643.736614,614.223745
41906,96161,Truckee,California,CA,Nevada,39.3385,-120.1729,NaN,620.389473,622.937446,620.618865,607.998036,609.936332,611.153620,613.398246,614.011379,639.186406,609.674788
41907,96162,Truckee,California,CA,Nevada,39.2660,-120.6414,NaN,625.646044,628.153136,625.715590,613.160240,615.069591,616.322316,618.550250,618.809760,643.763759,614.803859

In [87]:
import os
from os import path
files = [f for f in os.listdir(".\DataPfiles\\")]# if path.isfile(f)]
files
# print os.listdir(".\DataPfiles\\")

['90621_to_91024.p',
 '93063_to_93524.p',
 'calzip90001_to_90010.p',
 'calzip90002_to_90001.p',
 'calzip90002_to_90005.p',
 'calzip90003_to_90003.p',
 'calzip90011_to_90020.p',
 'calzip90021_to_90050.p',
 'us_postal_codes.csv']